body {
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #C7BEA2;
}

.napis {
    font-size: 25px;
}

.poster {
position: absolute;
top: 150px;
left: 30px;
display: flex;
}


